# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*
pnpm-debug.log

# Build
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Supabase
supabase/.branches
supabase/.temp
supabase/.env